<div class="programmer-container">
  <div class="profile-picture"></div>
  <div class="column-direction">
    <h1>Michał Brzeziński</h1>
    <!-- <div class="break"></div> -->
    <div class="task">
      <h2>Wykonuje taska</h2>
      <div class="progress-bar">
        <div class="progress-bar__finished"></div>
        <div class="progress-bar__unfinished"></div>
      </div>
    </div>
    <div class="task">
      <h2>Robi cr</h2>
      <div class="progress-bar">
        <div class="progress-bar__finished"></div>
        <div class="progress-bar__unfinished"></div>
      </div>
    </div>
  </div>
  <div>

    <button>Upgrade</button>
  </div>

</div>
